label.text-info Terms & Conditions
br
p.userTerms We promise to never sell, rent, or otherwise share your information unless you tell us that's cool. We won't spy on you or tell the FBI anything unless you do something really bad. Please don't sue us; we're not a real company.
//- I want the label behind the checkbox
input(type='checkbox', name='terms', value='yes')
|         I have read, understood, and agreed to the terms listed above.
