extends layout

block content
  .container
    nav.navbar.navbar-default.navbar-fixed-top
      .navbar-header
        a.navbar-brand.navFlag(href='/')
          span.glyphicon.glyphicon-flag(aria-hidden='true')
      .navbar-header
        h3.navTitle Friendface
      a.navbar-brand
        span.glyphicon.glyphicon-flag.navFlag(aria-hidden='true')
      .nav.nav-tabs
        li.navmenu(role='presentation')
          a(href='/') Home
        li.navmenu(role='presentation')
          a(href='/users') All Users
        li.navmenu(role='presentation')
          a(href='/users/:id') Me
        ul.nav.navbar-nav.navbar-header.navbar-right
          li.dropdown
            a.drop-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
              span.glyphicon.glyphicon-off.btn-sm.btn-info.navDrop(aria-hidden='true')
            //- ideally next to this, when user is logged in, will say 'Welcome userFirstName!' to indicate logged in status
            ul.dropdown-menu
              li
                a(href='#') Log In
              li.divider(role='separator')
              li
                a(href='#') Log Out
  .container-fluid
    .page-header.splashhead
        h1.pagetitle Register
    .row
      .col-md-12.text-center
        p.text-default There's more to fill out on your profile, but for now we just need the basics.
        br
    .row
      .col-md-4.col-md-offset-4#regForm
        form#register(action='', method='post')
          label First Name
          //- I want this on the same freakin line!
          //- p.text-danger *
          br
          input.form-control(type='text', name='firstname', placeholder='First Name')
          br
          label Last Name
          br
          input.form-control(type='text', name='lastname', placeholder='Last Name')
          br
          label Location
          small.help-block Be as specific or as general as you like.
          input.form-control(type='text', name='firstname', placeholder='Location')
          br
          label Upload a User Picture
          br
          input(type='file', name='userpic')
          br
          label Email
          br
          input.form-control(type='email', name='email', placeholder='Email Address')
          br
          label Password
          br
          input.form-control(type='text', name='password', placeholder='Password')
          br
          label.text-info Terms & Conditions
          br
          p.userTerms We promise to never sell, rent, or otherwise share your information unless you tell us that's cool. We won't spy on you or tell the FBI anything unless you do something really bad. Please don't sue us; we're not a real company.
          //- I want the label behind the checkbox
          input(type='checkbox', name='terms', value='yes')
          |         I have read, understood, and agreed to the terms listed above.
          br
          br
          br
          button(type='submit', class='btn btn-warning btn-lg') Sign Up
