extends layout

block content
  .container-fluid
    .page-header.splashhead
        h1.pagetitle All Users
    .row
      .col-md-4
        p stuff
      .col-md-4
        p stuff
      .col-md-4
        p stuff
