extends layout

block content
  .container-fluid
    .page-header.splashhead
        h1.pagetitle All Users
    each user in users    
      .row
        .col-sm-4.userBox
          img.userpics(src='/images/loltastic.jpg')
          //img.userpic(src= user.img_url)
          
        .col-sm-8.userBox
          h2.email= user.email
          p.user-id= user.id
          p.blurb= user.blurb
          
